@import '../../Data/Variables.scss';

.container {
  .canvas-wrapper {
    height: 75vh;
    width: 100%;
    background: '#F6F6F6';

    .canvas-preview {
      height: 100%;
      width: 100%;
    }
  }

  .result-wrapper {
    display: flex;
    align-items: center;

    :global {
      .ant-typography {
        margin: 0;
      }

      span.ant-typography {
        font-size: 1.2rem;
        font-weight: 500;
        color: $GreyPrimary;
      }

      h5.ant-typography {
        font-size: 1.6rem;
        font-weight: 700;
        color: $Black;
      }
    }
  }

  .neck-wrapper,
  .neck-wrapper-is-active {
    height: 120px;
    width: 120px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b4b4b4;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      background: rgb(165, 165, 165);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .neck-wrapper-is-active {
    border: $PrimaryGreen 3px solid;
    background: rgb(199, 199, 199);
    transition: all 0.3s ease-in-out;
  }

  .right-content {
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .btn-wrappertasd {
    background: red;
    padding: 24;
  }

  .config-img-wrapper {
    display: flex;
    align-items: center;
  }
}
